@media screen and (max-width: 320px){
    .mid-main-content{
        margin-top: 36px;
    }
    .mid-main-content-material {
        font-size: 11px !important;
    }
       .add_on{
        margin-top: 26px; !important;
    }
    .about_me_text{
        position: relative;
        font-family: cool;
        margin-left: 44px !important;
        margin-right: 30px !important;
        letter-spacing: 0;
        font-size: 11px !important;
        coloR: #737373;
        margin-top: 23px !important;
        font-style: italic;
        line-height: 18px !important;
    }
    .certifications{
        /*margin-top: 16px !important;*/
        margin-left: 18px; !important;
        -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
    }
    .image_enclose{
        height: 28px !important;
        width: 28px !important;
        border: 1px solid #C7C7C7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        border-radius: 50%;
    }
    .certification_heading{
        margin-left: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        position: relative;
        letter-spacing: 0.8;
    }
    .cert_one{
        font-size: 11px !important;
        font-family: cool;
        letter-spacing: 0.3px;
        margin-left: 24px !important;
        margin-top: 16px !important;
        color: #737373;
        margin-right: 24px !important;
        line-height: 18px !important;
    }
    .extras{
        /*margin-top: 40px !important;*/
        margin-left: 18px !important;
        margin-top: 0px !important;
        margin-left: 18px !important;
        padding-top: 22px;
        -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
        max-height: 197px;
    }
    .cert_content{
        height: none;
    }
    .mid-main-cont-add-on{
        margin-bottom: 0px !important;
    }
    .button-master{
        margin-top: 35px; !important;
    }
        
.name-and-email-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 15px;
    margin-right: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 99px;
    
}

.contact-email-container {
    -webkit-box-flex:1;
        -ms-flex:1 100%;
            flex:1 100%;
   
}

.contact-input-email-and-name {
    width:100%;
    height: 40px;
    padding-left: 10px;
    outline:0;
    font-family: cool;
    border: none;
    border: 1px solid #a9a9a9;
}

.contact-email-name-sub-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin-left: 11px;
} 
.contact-textarea {
    width: 100%;
    resize: none;
    height: 113px;
    padding: 10px;
    font-family: cool;
    outline:0;
    border:none;
    border: 1px solid #a9a9a9;
}

.contact-content-container {
    margin-left: 25px;
    margin-right: 25px;
    /*margin-top: 11px;*/

}

.contact-buttons-container {
    margin-left: 25px;
    margin-top: 9px;
}

.contact-send-button {
    border: 1px solid #a9a9a9;
    height: 40px;
    width: 152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #a9a9a9;
    font-family: cool;
    font-size: 14px;
    cursor: pointer;
}
.specifics{
    margin-top: 5%;
   margin-bottom: 18px !important;
    height: 135px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
}
  
